@model CategoryModel
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Düzenle</h1>
<form asp-controller="Admin" asp-action="EditCategory" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group row">
        <label asp-for="Name">Kategori Adı</label>
        <input asp-for="Name" value="@Model.Name" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary bg-dark">Kaydet</button>
</form>
